<section class="window">
    <div class="container">
        <div class="empty" id="section-window"></div>
        <h2 class="tips">Insomnia tips</h2>
        <h3 class="title-section">Looking Through a window</h3>
        <p class="text-window">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui rem magni harum temporibus hic eligendi
            architecto reprehenderit.
        </p>
        <div class="button-go">
            <a class="go" href="">Go</a>
        </div>
    </div>
</section>