<section class="container-reasons">
    <h4 class="title-section">3 Reasons to Purchase</h4>
    <div>
        <ul class="text-reasons">
        <li>
            <h4 class="title-p">Ut sed metus</h4>
            <p class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est.</p>
        </li>
        <li>
            <h4 class="title-p">Curabitur ac erat</h4>
            <p class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est.</p>
        </li>
        <li>
            <h4 class="title-p">Morbi dictum</h4>
            <p class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est.</p>
        </li>
        </ul>
    </div>
    <div class="more">
        <a href="">More reasons</a>
    </div>
</section>