<section class="container-reasons">
    <h4 class="title-section">3 Reasons to Purchase</h4>
    <div>
        <ul class="text-reasons">
            <li class="title-p">Ut sed metus</li>
            <li class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est.</li>
        </ul>
        <ul class="text-reasons">
            <li class="title-p">Curabitur ac erat</li>
            <li class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est.<li>
        </ul>
        <ul class="text-reasons">
            <li class="title-p">Morbi dictum</li>
            <li class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est.</li>
        </ul>
    </div>
    <div class="more">
        <a href="">More reasons</a>
    </div>
</section>