<section class="container-reasons">
    <h4 class="title-section">3 Reasons to Purchase</h4>
    <div class="text-reasons">
        <h5 class="title-p">Ut sed metus</h5>
        <p class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est, explicabo quam sequi officiis natus possimus praesentium mollitia? Amet quam quasi ea? Nobis culpa vero at pariatur itaque.</p>
    </div>
    <div class="text-reasons">
        <h5 class="title-p">Curabitur ac erat</h5>
        <p class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est, explicabo quam sequi officiis natus possimus praesentium mollitia? Amet quam quasi ea? Nobis culpa vero at pariatur itaque.</p>
    </div>
    <div class="text-reasons">
        <h5 class="title-p">Morbi dictum</h5>
        <p class="text-reason">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi quaerat est, explicabo quam sequi officiis natus possimus praesentium mollitia? Amet quam quasi ea? Nobis culpa vero at pariatur itaque.</p>
    </div>
    <div class="more">
        <a href="">More reasons</a>
    </div>
</section>