<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anonymous Proxy</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <partial src="_header.html"></partial>
    <main>
        <partial src="_main-window.html"></partial>
        <partial src="_main-reasons.html"></partial>
    </main>
    <partial src="_footer.html"></partial>

</body>
</html>
