.final {
    background-color: #304268;
    position: relative;
}
.footer {
    height: 20vh;
}
.button-footer {
    background-color: $color-principal;
    width: 45px;
    height: 45px;
    border-radius: $radius;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 15px;
}
.text-footer {
    color: $color-principal;
    font-family: $font-second;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 38px;
}
.text-heart {
    color: $color-principal;
    font-family: $font-second;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.heart {
    color: $color-button;
}