.final {
    background-color: #304268;
    position: relative;
}

.footer {
    height: 128px;
}

.button-footer {
    background-color: $color-principal;
    width: 45px;
    height: 45px;
    border-radius: $radius;
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    animation: jump 2s ease-in infinite;
}

@keyframes jump {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 10px);
    }
}

.arrow-footer {
    margin-top: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    color: $color-principal;
    font-family: $font-second;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 38px;
}

.text-footer-container {
    padding-top: 15px;
}

.text-heart {
    color: $color-principal;
    font-family: $font-second;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.heart {
    color: $color-button;
    padding: 0 4px 0 4px;
}