.final {
    background-color: #304268;
    position: relative;
}
.footer {
    height: 25vh;
}
.button-footer {
    background-color: $color-principal;
    width: 45px;
    height: 45px;
    border-radius: $radius;
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-footer{
    margin-top: 20px;
}
.text-footer {
    color: $color-principal;
    font-family: $font-second;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 38px;
}
.text-footer-container {
    padding-top: 15px;
}
.text-heart {
    color: $color-principal;
    font-family: $font-second;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.heart {
    color: $color-button;
    padding: 0 4px 0 4px;
}
@media all and (min-width: 768px) {
    .footer {
        height: 15vh;
    }
}
@media all and (min-width: 1200px) {
    .footer {
        height: 25vh;
    }
}
