.reasons {
    background-color: #eff9ff;
}
.container-reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px 60px 15px;
}
.titlesection {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
    text-transform: capitalize; 
}
.text-reasons {
    list-style: none;
    padding-left: 70px;
    padding-right: 70px;
}
.list-text {
    padding-top: 45px;
    line-height: 1.5;
}
.title-p {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.text-list {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
}
.button-more {
    background-color: #f26002;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.more {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    transition: color ease 1s;
    &:hover {
        color: #8ccbea;
    }
}