.reasons {
    background-color: #eff9ff;
}
.container-reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px 60px 15px;
}
.titlesection {
    font-family: $font-principal;
    font-weight: 700;
    font-size: 24px;
    color: $color-second;
    text-transform: capitalize; 
}
.text-reasons {
    list-style: none;
    padding-left: 70px;
    padding-right: 70px;
}
.list-text {
    padding-top: 45px;
    line-height: 1.5;
}
.title-p {
    font-family: $font-principal;
    font-weight: 700;
    font-size: 18px;
    color: $color-second;
}
.text-list {
    font-family: $font-second;
    font-size: 18px;
    color: $color-second;
}
.button-more {
    background-color: $color-button;
    width: 184px;
    height: 45px;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.more {
    text-decoration: none;
    font-family: $font-second;
    font-weight: 500;
    font-size: 20px;
    color: $color-principal;
    transition: color ease 1s;
    &:hover {
        color: #8ccbea;
    }
}
@media all and (min-width: 768px) {
    .container-reasons {
        padding: 30px 0 60px 0;
    }
    .titlesection {
        font-size: 26px;
    }
    .title-p {
        font-size: 24px;
    }
    .text-list {
        font-size: 20px;
    }
    .text-reasons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-left: 40px;
        padding-right: 40px;
        grid-column-gap: 50px;
    }
    .button-more {
        margin-top: 60px;
        width: 210px;
    }
}
@media all and (min-width: 1200px) {
    .titlesection {
        font-size: 32px;
    }
    .button-more {
        width: 255px;
    }
    .text-reasons {
        padding-left: 85px;
        padding-right: 85px;
    }
}