.empty {
    height: 30px;
}
.container {
    margin: 0 15px 45px 15px;
}
.tips {
    font-family: $font-second;
    font-size: 14px;
    color: #8ccbea;
    text-transform: capitalize;
}
.title-section {
    font-family: $font-principal;
    font-weight: 700;
    font-size: 24px;
    color: $color-second;
    text-transform: capitalize;
}
.text-window {
    font-family: $font-second;
    font-size: 18px;
    color: #4a4a4a;
    padding-top: 15px;
    line-height: 1.5;
}
.button-go {
    background-color: $color-principal;
    width: 76px;
    height: 45px;
    border: 2px solid $color-button;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; 
    transition: background-color ease 1s;
    &:hover {
        border: 2px solid #8ccbea;
        background-color: #8ccbea;
    }
}
.go {
    text-decoration: none;
    font-family: $font-second;
    color: $color-button;
    font-size: 20px;
    font-weight: 500;
    width: 76px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (min-width: 768px) {
    .empty {
        height: 30px;
    }
    .container {
        margin: 0 39px 60px 39px;
    }
    .title-section {
        font-size: 26px;
    }
    .text-window {
        font-size: 20px;
        padding-top: 30px;
    }
    .button-go {
        width: 91px;
    }
    .go {
        width: 91px;
    }
}

@media all and (min-width: 1200px) {
    .empty {
        height: 60px;
    }
    .container {
        margin: 0 275px 60px 275px;
    }
    .tips {
        font-size: 16px;
    }
    .title-section {
        font-size: 32px;
    }
    .button-go {
        width: 160px;
    }
    .go {
        width: 160px;
    }
}